.custom{
    background-color: #0a58ca;
    height: 300px;
    margin-top: 20px;
}
/* .login-container{
    background-image: url("../images/loginBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
} */